@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face { 
  font-family: 'bangla';
  src: url('/fonts/bangla.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

@font-face { 
  font-family: 'monaspace-code';
  src: url('/fonts/monaspace-code.ttf') format('truetype'); 
  font-weight: normal; font-style: normal; 
}

.is-active{
  @apply bg-gray-100;
}
.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* List styles */
  ul{
   @apply list-disc; 
  }

  ol {
    @apply list-decimal;
  }

  ul,
  ol {
    padding: 0 1rem;
    margin: 1.25rem 1rem 1.25rem 0.4rem;

    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }

  /* Heading styles */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    margin-top: 2.5rem;
    text-wrap: pretty;
    font-weight: 600;
  }

  h1,
  h2 {
    margin-top: 3.5rem;
    margin-bottom: 1.5rem;
  }

  h1 {
    font-size: 1.4rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  h4,
  h5,
  h6 {
    font-size: 1rem;
  }

  /* Code and preformatted text styles */
  code {
    @apply bg-slate-200 rounded text-[0.85rem] px-[0.25em] py-[0.3em] font-code;
  }

  pre {
    @apply bg-gray-100 border text-black rounded-md my-2 p-2 ;
    code {
      background: none;
      font-family: 'monaspace-code';
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }
  }

  blockquote {
    @apply border-l-2 my-6 pl-4 text-gray-600;
  }

  hr {
    @apply border-b my-[2rem];
  }
}
/* Overall scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Width of the scrollbar */
}

/* Track (background) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Thumb (draggable part) */
::-webkit-scrollbar-thumb {
  background: #888; /* Color of the thumb */
  border-radius: 10px; /* Rounded edges */
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-blue-500; /* Darker color on hover */
}


@layer base {
  :root { 
    --radius: 0.5rem; 
  } 
}
